@import "./modules/home/_header";
@import "./modules/home/hero.scss";
@import "./modules/home/aboutUs.scss";
@import "./modules/home/whyus.scss";
@import "./modules/home/breakfast.scss";
@import "./modules/home/menu.scss";
@import "./modules/home/testimonials.scss";
@import "./modules/home/chefs.scss";
@import "./modules/home/reservasion.scss";
@import "./modules/home/contact.scss";
@import "./modules/home/_footer";


