*{
    margin: 0px;
    padding: 0px;
}

/* body
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
} */




.modal
{   
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(58, 56, 56, 0.719);
    display: none;
    align-items: center;
    justify-content: center;
    /* transition: top 0.4s ease-in-out; */
    
}

.hi
{
    background-color: red;
    color: white;
    border: none;
}
