@import url("../../_variables.scss");

a{
    text-decoration: none;
}

.bookAtable
{
    background-color: $sp_red ;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 50px;
    font-size: 14px;
}

.links
{
    display: flex;
    gap: 40px;
    display: none;
}

.yummy
{
    color: $gray;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.red
{
    color : $sp_red
}

.burgerIcon
{
    font-size: 28px;
    color: gray;
    margin-left: 10px;
}