@import url("../../_variables.scss");

a{
    text-decoration: none;
}

body{
    position: relative;
    
}


.bookAtable
{
    background-color: $sp_red ;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 50px;
    font-size: 14px;
}

.bookAtable:hover
{
    background-color: #ce121280;
}

.mod  
{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.384);
    position: absolute;
    top: 0;
    left: 0;
}


.links
{
    display: flex;
    gap: 40px;
    display: none;
}
.navbar
{
    box-shadow: 0px 0.5px 10px;
}

.yummy
{
    color: $gray;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.red
{
    color : $sp_red
}

.burgerIcon
{
    font-size: 28px;
    color: gray;
    margin-left: 10px;
}

.X
{
    display: none;
    position: absolute;
    font-size: 32px;
    top :15px;
    right:15px;
    color: white;
    margin: 40px;
}

.secoundBook
{
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 12px 28px;
}
