.learn
{
    font-family: amatic;
    font-size: 48px;
  font-weight: 500;
}

.about
{
    font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  color: gray;
}

.info
{
    padding-inline: 2vw ;
}
.aboutImg
{
    width: 100%;
    height: 100%;
}

.play
{
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number
{
    margin-block: 20px;
    padding-top: 20px;
    border: 5px solid gray;
}



@media (min-width:993px) {
  .info{
    padding-inline: 10vw ;
}
.infoLeft
{
  width: 50%;
}

.infoRight
{
  width: 40%;
}
}

