.breakfast
{
    padding-top: 10vh;
    min-height: 80vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    background:
    linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
    url("../../../../public/images/stats-bg.jpg") center / cover no-repeat;
}

.stats
{
    font-size: 48px;
  display: block;
  font-weight: 700;
    margin-bottom: 15vh;
    color: white;
}

.stats p{
    padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.575);
}

.big 
{
    
    display: grid;
    grid-template-columns: 1fr ;
}

@media (min-width:720px) {
    .big
    {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (min-width:960px) {
    .big
    {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 10vw;
    }
}