#footer
{
    background-color: #1f1f24;
    color: white;
}

.social-links
{
    gap: 5px;
}

.social-links *
{
    width: 40px;
    height: 40px;
    border: 1px solid $gray;
    border-radius: 50px;
    color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.social-links *:hover
{
    color: $sp_red;
    border: 1px solid $sp_red;
}