

.menu
{
    
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.food
{
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10vh;
}

.food img
{
    width: 60%;
    height: 60%;
    margin-bottom: 5vh;
}

@media (min-width:960px) {
    .menu
    {
        grid-template-columns: 1fr 1fr 1fr;
        padding-inline: 3vw;
    }
}


.starters
{

    transition: all 0.5s ease-in-out;
}
.breake
{
    display: none;
    transition: all 0.5s ease-in-out;
}
.lunch
{
    display: none;
    transition: all 0.5s ease-in-out;
}
.dinner
{
    display: none;
    transition: all 0.5s ease-in-out;
}

.typefood
{
    font-family: amatic;
    font-size: 48px;
    font-weight: 700;
    color: $sp_red;
}

.foodmenu
{
    font-size: 14px;
    // font-family: roboto;
}

.option1 
{
border-bottom: 1px solid $sp_red ;
}
.option2 
{
border-bottom: 1px solid gray ;
}
.option3 
{
border-bottom: 1px solid gray ;
}
.option4 
{
border-bottom: 1px solid gray ;
}