*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.caroussel
{
  width: 80vw;
  
  height: 100vh;
  margin: auto;  
  overflow-x: hidden;
}

.track
{
  display: flex;
  flex: 0 0 100;
  scroll-snap-type: mandatory;
  /* transition: all 0.4s ease ; */
  width: 100%;
  height: 100%;
}

.slide{
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slide img
{
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
}

.yellow
{
  color: #ffc107;
}

@media (min-width:995px) {

  .slide{
    flex-direction: row;
  }

  .slide img
{
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
}