*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.caroussel
{
  width: 80vw;
  border: 8px solid black;
  height: 70vh;
  margin: auto;  
  overflow-x: auto;
}

.track
{
  display: flex;
  flex: 0 0 100;
  scroll-snap-type: mandatory;
  /* transition: all 0.4s ease ; */
  width: 100%;
  height: 100%;
}

.slide{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.slide img
{
  width: 100%;
  height: 100%;
}