.whyUs
{
    background-color: #f2f2f2;
}

.icons
{
    width: 72px;
    height: 72px;
    font-size: 32px;
    background-color: #fdf3f3;
    color: $sp_red;
    // padding: ;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.card
{
   
   
    padding-inline: 10vw;
}
.card:hover
{

    .icons
    {
        background-color: $sp_red;
        color: #fdf3f3  ;
    }
}


.whyUs
{
    background-color: #f2f2f2;  
    width: 100%;
}

.whyUs *
{
    margin: auto;
     width: 70%;
     

}

@media (min-width: 995px) {
    .whyUs
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}